<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block metas %}
            <meta charset="utf-8">
        {% endblock metas %}

        <title>{% block title %}Task Management Table{% endblock %}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script  type="text/javascript">
        function approveTask(id) {
                $.ajax({
                    type:"PUT",
                    url:"update_value",
                    contentType: 'application/json',
                    data:JSON.stringify({ id: id, new_value: "APPROVED" }),
                    success:function(response){
                        location.reload();
                    },
                    error: function (xhr,status, error) {
                        console.log("Error updating status:", status,error);
                        }
                });
            }
            function rejectTask(id) {
                $.ajax({
                    type:"PUT",
                    url:"update_value",
                    contentType: 'application/json',
                    data:JSON.stringify({ id: id, new_value: "REJECTED" }),
                    success:function(response){
                        location.reload();
                    },
                    error: function (xhr,status, error) {
                        console.log("Error updating status:", status,error);
                        }
                });
            }
            function uploadFile() {
                var fileInput = document.getElementById('fileInput');
                var file = fileInput.files[0];

                // Read the contents of the file as text
                var reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function() {
                    var csvData = reader.result;

                    $.ajax({
                        type:"POST",
                        url:"upload_csv",
                        contentType: 'application/json',
                        data:JSON.stringify({ csvData : csvData }),
                        success:function(response){
                            console.log('CSV data uploaded successfully');
                            location.reload();
                        },
                        error: function (xhr,status, error) {
                            console.log('Request failed. Status:', status,error);
                            }
                    });
                }
            }
        </script>
        <div id="heading">
            <h1>TASK MANAGEMENT</h1>
            <form>
                 <input type="file" id="fileInput">
                 <button id="uploadFile" onclick="uploadFile();" class="btn btn-lg">UPLOAD FILE</button>
            </form>
        </div>
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
        {% endblock styles %}
    {% endblock head %}
</head>

{% block content %}
  <body>
    <table id="taskManagementTable" class="table table-bordered" style="border:5px double black;">
      <thead>
        <tr>
          <th>Created By</th>
          <th>Email</th>
          <th>Task Date</th>
          <th id="description">Task Description</th>
          <th>Company Name</th>
          <th id="statusHead">Task Status</th>
        </tr>
      </thead>
      <tbody>
        {% for row in csv_data %}
        <tr>
            {% if not loop.first %}
                <td>{{ row.createdby}}</td>
                <td>{{ row.email}}</td>
                <td>{{ row.taskdate}}</td>
                <td>{{ row.description}}</td>
                <td>{{ row.companyname}}</td>
                  {% if row.taskstatus == "IN_REVIEW"%}
                    <td><button onclick="approveTask('{{row._id}}');"  type="button" class="Approve btn btn-default btn-xs">Approve</button>
                        <button onclick="rejectTask('{{row._id}}');"  type="button" class="Reject btn btn-default btn-xs">Reject</button>
                    <td>
                  {% else %}
                    <td>{{ row.taskstatus}}</td>
                  {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="pagination" value="{{csv_data}}"></div>
  </body>
</html>
{% endblock %}
